<!-- Navbar Start -->
<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0 px-lg-5">
        <div class="d-flex flex-column flex-sm-row w-100 justify-content-between">

            <a href="#" class="navbar-brand ml-lg-3">
                <h1 class="m-0 text-uppercase text-primary"><i class="fa fa-user-cog mr-3"></i>Admin</h1>
            </a>

            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Ara" aria-label="Search">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Ara</button>
            </form>

        </div>
    </nav>
</div>
<!-- Navbar End -->

