@model List<ListCourseDto >
<!-- NewCourses Start -->
<div class="container-fluid px-0 py-5">
    <div class="row mx-0 justify-content-center pt-5">
        <div class="col-lg-6">
            <div class="section-title text-center position-relative mb-4">
                <h1 class="display-4">Yeni Çıkan Kurslara Göz Atın</h1>
            </div>
        </div>
    </div>
    <div class="owl-carousel courses-carousel">
        @foreach (var item in Model)
        {
            <div class="courses-item position-relative">
                <img class="img-fluid" src="@item.ImageUrl" alt="">
                <div class="courses-text">
                    <h4 class="text-center text-white px-3">@item.Title</h4>
                    <div class="border-top w-100 mt-3">
                        <div class="d-flex justify-content-between p-4">
                            <span class="text-white"><i class="fa fa-user mr-2"></i>@item.Level</span>
                            <span class="text-white"><i class="fa fa-eye mr-2"></i>@item.CourseViewCountLog</span>
                        </div>
                    </div>
                    <div class="w-100 bg-white text-center p-4">
                        <a class="btn btn-primary" href="/Course/CourseDetails/@item.Id">Kurs Detayları</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<!-- NewCourses End -->