@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}

<aside class="left-sidebar" data-sidebarbg="skin6">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <!-- User Profile-->
                <li class="sidebar-item pt-2">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/Instructor/Dashboard/Index/"
                       aria-expanded="false">
                        <i class="far fa-clock" aria-hidden="true"></i>
                        <span class="hide-menu">Dashboard</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/Instructor/Course/Index/"
                       aria-expanded="false">
                        <i class="fa fa-globe" aria-hidden="true"></i>
                        <span class="hide-menu">Kurslarım</span>
                    </a>
                </li>
                <li class="text-center p-20 upgrade-btn">
                    <a href="/Login/Logout/"
                       class="btn d-grid btn-danger text-white" target="_blank">
                        Çıkış Yap
                    </a>
                </li>
            </ul>

        </nav>
    </div>
</aside>
