@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}

<!DOCTYPE html>
<html lang="en">

@await Html.PartialAsync("~/Views/AdminLayoutPartial/HeadPartial.cshtml")

<body>

    @await Html.PartialAsync("~/Views/AdminLayoutPartial/NavbarPartial.cshtml")

    <div class="container-fluid">
        <div class="row">
            @await Html.PartialAsync("~/Views/AdminLayoutPartial/SidebarPartial.cshtml")

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                @*<h2>@controllerName</h2>*@
                <br />
                @RenderBody()
            </main>
        </div>
    </div>


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary rounded-0 btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>

    @await Html.PartialAsync("~/Views/AdminLayoutPartial/ScriptPartial.cshtml")
</body>
</html>
