<!DOCTYPE html>
<html lang="en">

@await Html.PartialAsync("~/Views/LayoutPartial/HeadPartial.cshtml")

<body>
    @await Html.PartialAsync("~/Views/LayoutPartial/TopbarPartial.cshtml")


    @await Html.PartialAsync("~/Views/LayoutPartial/NavbarPartial.cshtml")
  

   @RenderBody()


    @await Html.PartialAsync("~/Views/LayoutPartial/FooterPartial.cshtml")


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary rounded-0 btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>


    @await Html.PartialAsync("~/Views/LayoutPartial/ScriptPartial.cshtml")
 
</body>

</html>
