
@{
    Layout = null;
}

<div class="input-group">
    <!--
      <div class="input-group-prepend">
          <button class="btn btn-outline-light bg-white text-body px-4 dropdown-toggle" type="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
              Kategoriler
          </button>
          <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Tümü</a>
              <a class="dropdown-item" href="#">Bilişim</a>
              <a class="dropdown-item" href="#">Yazılım</a>
          </div>
      </div>
      -->
    <input type="text" class="form-control border-light" style="padding: 30px 25px;" placeholder="Kurs ara...">
    <div class="input-group-append">
        <button class="btn btn-secondary px-4 px-lg-5">Ara</button>
    </div>
</div>

