<h2 class="mb-3">İlgili Kurslar</h2>
<div class="owl-carousel related-carousel position-relative" style="padding: 0 30px;">
    <a class="courses-list-item position-relative d-block overflow-hidden mb-2" href="#">
        <img class="img-fluid" src="~/online-education/img/courses-1.jpg" alt="">
        <div class="courses-text">
            <h4 class="text-center text-white px-3">
                Web design & development courses for
                beginners
            </h4>
            <div class="border-top w-100 mt-3">
                <div class="d-flex justify-content-between p-4">
                    <span class="text-white"><i class="fa fa-user mr-2"></i>Jhon Doe</span>
                    <span class="text-white">
                        <i class="fa fa-star mr-2"></i>4.5
                        <small>(250)</small>
                    </span>
                </div>
            </div>
        </div>
    </a>
    <a class="courses-list-item position-relative d-block overflow-hidden mb-2" href="#">
        <img class="img-fluid" src="~/online-education/img/courses-2.jpg" alt="">
        <div class="courses-text">
            <h4 class="text-center text-white px-3">
                Web design & development courses for
                beginners
            </h4>
            <div class="border-top w-100 mt-3">
                <div class="d-flex justify-content-between p-4">
                    <span class="text-white"><i class="fa fa-user mr-2"></i>Jhon Doe</span>
                    <span class="text-white">
                        <i class="fa fa-star mr-2"></i>4.5
                        <small>(250)</small>
                    </span>
                </div>
            </div>
        </div>
    </a>
    <a class="courses-list-item position-relative d-block overflow-hidden mb-2" href="#">
        <img class="img-fluid" src="~/online-education/img/courses-3.jpg" alt="">
        <div class="courses-text">
            <h4 class="text-center text-white px-3">
                Web design & development courses for
                beginners
            </h4>
            <div class="border-top w-100 mt-3">
                <div class="d-flex justify-content-between p-4">
                    <span class="text-white"><i class="fa fa-user mr-2"></i>Jhon Doe</span>
                    <span class="text-white">
                        <i class="fa fa-star mr-2"></i>4.5
                        <small>(250)</small>
                    </span>
                </div>
            </div>
        </div>
    </a>
</div>