@{
    ViewData["Title"] = "CourseUploadVideo";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Video Yükleme</h1>
<p>@ViewBag.CourseID</p>

<div class="container">
    <form method="post" enctype="multipart/form-data" asp-controller="Course" asp-action="CourseUploadVideo" class="mt-4">
        <div class="mb-3">
            <input type="hidden" name="id" value="@ViewBag.CourseID" />
        </div>
        <div class="mb-3">
            <label for="fileInput" class="form-label">Dosya Seç</label>
            <input type="file" class="form-control" id="fileInput" name="file" />
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Gönder</button>
        </div>
    </form>
</div>
