@model UpdateAboutDto
@{
    ViewData["Title"] = "AdminUpdateAbout";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <form method="post">
        <input type="hidden" asp-for="Id" />

        <label>Hakkımızda Resim 1</label>
        <input type="text" asp-for="Image1" class="form-control" />
        <br />

        <label>Hakkımızda Başlık</label>
        <input type="text" asp-for="Title" class="form-control" />
        <br />

        <label>Hakkımızda Açıklama 1</label>
        <input type="text" asp-for="Description" class="form-control" />
        <br />

        <label>Hakkımızda Resim 2</label>
        <input type="text" asp-for="Image2" class="form-control" />
        <br />

        <label>Hakkımızda Başlık 2</label>
        <input type="text" asp-for="Title2" class="form-control" />
        <br />

        <label>Hakkımızda Açıklama 2</label>
        <input type="text" asp-for="Description2" class="form-control" />
        <br />

        <label>Hakkımızda SubTitle</label>
        <input type="text" asp-for="SubTitle" class="form-control" />
        <br />

        <label>Hakkımızda SubDesc</label>
        <input type="text" asp-for="SubDesc" class="form-control" />
        <br />

        <label>Hakkımızda SubTitle 2</label>
        <input type="text" asp-for="SubTitle2" class="form-control" />
        <br />

        <label>Hakkımızda SubDesc 2</label>
        <input type="text" asp-for="SubDesc2" class="form-control" />
        <br />

        <label>Hakkımızda SubTitle 3</label>
        <input type="text" asp-for="SubTitle3" class="form-control" />
        <br />

        <label>Hakkımızda SubDesc 3</label>
        <input type="text" asp-for="SubDesc3" class="form-control" />
        <br />

        <label>Durumu</label>
        <select asp-for="Status" class="form-control">
            <option value="true">True</option>
            <option value="false">False</option>
        </select>
        <br />

        <button class="btn btn-primary">Hakkımızda Güncelle</button>
    </form>
</div>

