@model AddContactDto
@{
    ViewData["Title"] = "AdminAddContact";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <form method="post">
        <label>İletişim Adres Bilgisi</label>
        <input type="text" asp-for="Adress" class="form-control" />
        <br />

        <label>İletişim Mal Bilgisi</label>
        <input type="text" asp-for="Mail" class="form-control" />
        <br />

        <label>İletişim Telefon No Bilgisi</label>
        <input type="text" asp-for="Phone" class="form-control" />
        <br />

        <label>İletişim Harika Lokasyon Bilgisi</label>
        <input type="text" asp-for="MapLocation" class="form-control" />
        <br />


        <button class="btn btn-primary">İletişim Bilgisi Ekle</button>
    </form>
</div>

