
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-5 mb-5 mb-lg-0">
                @await Component.InvokeAsync("_ContactPartial");
            </div>
            <div class="col-lg-7">
                @await Component.InvokeAsync("_ContactUsPartial")
            </div>
        </div>
    </div>
</div>

