
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header Start -->
<div class="jumbotron jumbotron-fluid page-header position-relative overlay-bottom" style="margin-bottom: 90px;">
    <div class="container text-center py-5">
        <h1 class="text-white display-1">Hakkımızda</h1>
        <div class="d-inline-flex text-white mb-5">
            <p class="m-0 text-uppercase"><a class="text-white" href="">Ana Sayfa</a></p>
            <i class="fa fa-angle-double-right pt-1 px-3"></i>
            <p class="m-0 text-uppercase">Hakkımızda</p>
        </div>
        <div class="mx-auto mb-5" style="width: 100%; max-width: 600px;">
            @await Component.InvokeAsync("_SearchInput")
        </div>
    </div>
</div>
<!-- Header End -->

@*@await Html.PartialAsync("~/Views/Default/AboutPartial.cshtml")*@
@await Component.InvokeAsync("_AboutPartial");

