@model List<ListContactDto>

@foreach (var item in Model)
{
    <div class="bg-light d-flex flex-column justify-content-center px-5" style="height: 450px;">
        <div class="d-flex align-items-center mb-5">
            <div class="btn-icon bg-primary mr-4">
                <i class="fa fa-2x fa-map-marker text-white"></i>
            </div>
            <div class="mt-n1">
                <h4>Konumumuz</h4>
                <p class="m-0">@item.Adress</p>
            </div>
        </div>
        <div class="d-flex align-items-center mb-5">
            <div class="btn-icon bg-secondary mr-4">
                <i class="fa fa-2x fa-phone text-white"></i>
            </div>
            <div class="mt-n1">
                <h4>Telefonumuz</h4>
                <p class="m-0">@item.Phone</p>
            </div>
        </div>
        <div class="d-flex align-items-center">
            <div class="btn-icon bg-warning mr-4">
                <i class="fa fa-2x fa-envelope text-white"></i>
            </div>
            <div class="mt-n1">
                <h4>Email Adresimiz</h4>
                <p class="m-0">@item.Mail</p>
            </div>
        </div>
    </div>
}
