@model List<ListCourseVideoDto>

@{
    ViewData["Title"] = "CourseContent";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string filePath = ViewBag.FilePath;
    if (filePath == null)
        filePath = Model[0].filePath;
    else
        filePath = "";
}


<div class="container-fluid mt-5">
    @if (Model != null)
    {
        <div class="row">
            <div class="col-lg-9">
                <div>
                    <video width="100%" height="100%" controls autoplay>
                        <source id="videoPlayer" src="@filePath">
                    </video>
                </div>
            </div>
            <div class="col-lg-3 mt-5 mt-lg-0">
                <div class="sticky-top">
                    <h3>İlgili Videolar</h3>
                    <ul class="list-group list-group-flush">
                        @foreach (var item in Model)
                        {
                            <li class="list-group-item">
                              <a href="@Url.Action("CourseContent", "PurchasedCourse", new { id = item.courseID, video = item.id })" class="text-decoration-none">
                                  <i class="fas fa-play-circle"></i>@item.fileDisplayName
                              </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    }
    else
    {
        <h2>Erişiminiz Yok</h2>
    }
</div>
