@model List<ListCourseVideoDto>
@{
    ViewData["Title"] = "CourseContent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid mt-5">
    @if (Model != null)
    {
        <div class="row">
            <!-- Kurs Videosu divi -->
            <div class="col-lg-9">
                <!-- Kurs Videosu -->
                <div>
                    <video width="100%" height="100%" controls autoplay>
                        <source src="@Model[0].filePath">
                    </video>
                </div>
                @*<div>
                        <video width="100%" height="100%" controls autoplay>
                            <source src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4">
                        </video>
                    </div>
                    <div>
                        <video width="100%" height="100%" controls autoplay>
                            <source src=" http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ElephantsDream.mp4">
                        </video>
                    </div>*@
            </div>
            <!-- Sidebar -->
            <div class="col-lg-3 mt-5 mt-lg-0">
                <div class="sticky-top">
                    <h3>İlgili Videolar</h3>
                    <ul class="list-group list-group-flush">
                        @foreach (var item in Model)
                        {
                         <li class="list-group-item active"><a href="@item.filePath" class="text-decoration-none"><i class="fas fa-play-circle"></i>@item.fileDisplayName</a></li>
                        }
                    </ul>
                    <!--  İlgili başlıklar -->
                    @*<ul class="list-group list-group-flush">
                        <li class="list-group-item list-group-item-secondary" data-toggle="collapse" href="#videoList2" role="button" aria-expanded="false" aria-controls="videoList">
                            Başlık 2
                        </li>
                        <li>
                            <div class="collapse" id="videoList2">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><a href="video1.mp4" class="text-decoration-none"><i class="fas fa-play-circle"></i> Video 1</a></li>
                                    <li class="list-group-item"><a href="video2.mp4" class="text-decoration-none"><i class="fas fa-play-circle"></i> Video 2</a></li>
                                    <li class="list-group-item"><a href="video3.mp4" class="text-decoration-none"><i class="fas fa-play-circle"></i> Video 3</a></li>
                                     İlgili videoların listesi buraya eklenebilir 
                                </ul>
                            </div>
                        </li>
                    </ul>*@
                    <!--  İlgili başlıklar -->
                </div>
            </div>
        </div>
    }
    else
    {
        <h2>Erişiminiz Yok</h2>
    }
</div>
