@model List<ListPurchasedCourseWİthCourseDto>
@inject IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1 class="text-center">Ögrenim İçeriğim</h1>
<hr class="border border-danger border-1 my-5" />

<div class="row container-fluid">
    @foreach (var item in Model)
    {
        <div class="col-lg-3 col-md-4 pb-4">
            <div class="courses-list-item position-relative d-block overflow-hidden mb-2" href="#">
                <img class="img-fluid" src="@item.imageUrl" alt="">
                <div class="courses-text">
                    <h5 class="text-center text-white px-3">@item.title</h5>
                    <div class="border-top w-100 mt-3">
                        <div class="d-flex p-3">
                            <a href="/PurchasedCourse/CourseContent/@item.courseID" class="text-white btn btn-primary">Hemen başla</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<hr class="border border-danger border-1 my-5" />
<div class="container">
    <!-- İlgili Kurslar-->
    @await Component.InvokeAsync("_RelatedCoursesPartial")
    <!-- ilgili Kurslar-->
</div>