
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1 class="text-center font-weight-medium text-primary text-uppercase my-5">Sepetim</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Resim</th>
                    <th>Başlık</th>
                    <th>Fiyatı</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td><img src="~/online-education/img/courses-1.jpg" class="img-fluid" style="max-width:100px;max-height:100px" /></td>
                    <td>Web Geliştrime</td>
                    <td>500</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><img src="~/online-education/img/courses-2.jpg" class="img-fluid" style="max-width:100px;max-height:100px" /></td>
                    <td>Mobil Uygulama Geliştrime</td>
                    <td>1000</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td><img src="~/online-education/img/courses-3.jpg" class="img-fluid" style="max-width:100px;max-height:100px" /></td>
                    <td>Frontend Geliştrime</td>
                    <td>1500</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td><img src="~/online-education/img/courses-4.jpg" class="img-fluid" style="max-width:100px;max-height:100px" /></td>
                    <td>Backend Geliştrime</td>
                    <td>2000</td>
                </tr>
                <tr>
                    <td colspan="3">4 Adet Ürün</td>
                    <td><strong class="h5">Toplam: 5000</strong></td>
                </tr>
            </tbody>
        </table>
        <div class="text-right">
            <button type="button" class="btn btn-primary btn-lg">Satın Al</button>
        </div>
    </div>
</div>



