
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>403 Yetkisiz Erişim</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1>Oops!</h1>
                    <h2>403 Yetkisiz Erişim</h2>
                    <div class="error-details">
                        Üzgünüz, bu sayfaya erişim yetkiniz bulunmamaktadır.
                    </div>
                    <div class="error-actions">
                        <a href="/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>Anasayfaya Dön </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
