
@{
    Layout = null;
}

<!DOCTYPE html>
<html dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex,nofollow">
    <title>403</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/admin/plugins/images/favicon.png">
    <!-- Custom CSS -->
    <link href="~/admin/css/style.min.css" rel="stylesheet">
</head>

<body>
    <div class="main-wrapper">
        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>
        <div class="error-box">
            <div class="error-body text-center">
                <h1 class="error-title text-danger">403</h1>
                <h3 class="text-uppercase error-subtitle">Yetkisiz Erişim !</h3>
                <p class="text-muted mt-4 mb-4">Oooopps Erişim hakkınız yok!</p>
                <a href="/Default/Index/" class="btn btn-danger btn-rounded waves-effect waves-light mb-5 text-white">Ana Sayfaya Dön</a>
            </div>
        </div>
    </div>
    <script src="~/admin/plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/admin/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        $(".preloader").fadeOut();
    </script>
</body>

</html>
