
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@await Component.InvokeAsync("_AboutPartial");

@await Component.InvokeAsync("_NewCoursesPartial");

@await Component.InvokeAsync("_Top10InstructorList");

@await Html.PartialAsync("~/Views/Default/TestimonialPartial.cshtml")

<!-- Contact Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-5 mb-5 mb-lg-0">
                @await Component.InvokeAsync("_ContactPartial");
            </div>
            <div class="col-lg-7">
                @await Component.InvokeAsync("_ContactUsPartial")
            </div>
        </div>
    </div>
</div>
<!-- Contact Start -->